:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Linear-135deg-from: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --Linear-135deg-2from: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}
header {
  padding: 30px;
}
header img {
  width: 150px;
}
.container {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
}
.container .left {
  width: 100%;
  height: auto;
  padding: 10px 30px 0 30px;
}
.container .left h1 {
  color: var(--Desaturated-Red);
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.1;
}
.container .left h1 span {
  color: var(--Dark-Grayish-Red);
  font-weight: 600;
}
.container .left p {
  margin: 30px 0;
  color: var(--Desaturated-Red);
  line-height: 1.5;
  font-size: 15px;
}
.container .left form {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.container .left form input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50px;
  left: 0;
  top: 0;
  border: 1px solid var(--Desaturated-Red);
  padding-left: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
.container .left form input::placeholder {
  color: var(--Desaturated-Red);
  opacity: 0.5;
}
.container form .error-icon {
  position: absolute;
  top: 15px;
  right: 90px;
  display: none;
}
.container form .error-text {
  position: absolute;
  top: 25px;
  left: 5px;
  font-style: italic;
  display: none;
}
.container form.error  .error-icon,
.container form.error  .error-text {
    display: block;
}
.container form.error input {
    border: 2px solid var(--soft-Red);
}
.container .left form button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 0px 18px 1px hsl(0, 36%, 70%, 0.589);
}
.container .left form button:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsla(0, 52%, 80%, 0.781)
  );
  box-shadow: 0px 0px 13px 2px #f4aaabbf;
}
.container .right {
  width: 100%;
  height: 300px;
  background-image: url(../images/hero-mobile.jpg);
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) {
  header {
    position: absolute;
    padding: 70px 0 0 200px;
  }
  .container {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .container .right {
    width: 70%;
    height: 100vh;
    background-image: url(../images/hero-desktop.jpg);
  }
  .container .left {
    height: 100vh;
    padding-top: 20vh;
    padding: 200px;
    text-align: left;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .container .left h1 {
    font-size: 70px;
  }
  .container .left p {
    margin-left: 0;
    font-size: 20px;
    width: 550px;
    line-height: 1.5;
  }
  .container .left form {
    margin-left: 0;
  }
  .container .left form button {
    width: 80px;
  }
}
